
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg: #ffffff;
  --fg: #0f1720;
}

html,body,#root{ height:100%; }
body{
  @apply bg-white text-slate-900;
  margin:0;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

a{ @apply text-inherit no-underline }
